.form{
  background-color: rgb(190, 234, 146);
  border-radius: 20px;
  border-radius: 10px;
  height: auto;
  width: 20%;
text-align: center;
position:relative;
}
.button{
  background-color: rgb(150, 183, 231);
  border-radius: 10px;
  font-size: 20px;
}
.audio{
  background-color: burlywood;
}
a{
  color: blue;
  font-size: 20px;
}
h1{
  background-color: rgb(161, 246, 218);
  display: inline-block;
}
p{
font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}


